.warna-biru{
    background-color: #034079;
}

#loading-container {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    width: 100%;
  }
.loading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
#load-failed {
    position: relative;
    top: 50%;
}

.kartu{
    background-color: #fff;
    border-radius:40px;
    box-shadow:0px 40px 80px rgba(3, 64, 121, 0.1);
}

.jumlah-plus{
    color: #69C0AD;
    padding-bottom: 20px;
}

.jumlah-min{
    color: #FE6566;
    padding-bottom: 20px;
}


.judul{
    font-size: 36pt;
    font-style: bold;
}

.sub-judul{
    font-size: 48pt;
    font-style: bold;
}

.filter-waktu{
    margin-top: 40px;
}

.kartu-form{
    margin-top: 40px;
}

tbody {
    display:block;
    height:500px;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em )
  }
  table {
    width:100%;
  }
